<!DOCTYPE html>
<html>
<head>
  <title>Home For Grandma</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="navbar navbar-fixed-top global-nav">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Home For Grandma</a>
			<ul class="nav">
				<li><%= link_to "Home Page", home_path %></li> 
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
					<li><%= link_to "Sign Out", logout_path %></li>
				<% else %>
					<li><%= link_to "Sigh Up", register_path %></li>
					<li><%= link_to "Sign In", login_path %></li>				
				<% end %>
			</ul>
		</div>
	</div>
</div> -->

<div class="header">
	<div class="container">
		<div class="row">
			<div class="span5">
				<div id="logo-img"></div>
				<div>
					<h1 id="logo">HomeForGrandma</h1>
				</div>
			</div>
			<div class="span5 offset1">
				<div class="content-container">
					<div class="logo-content1"></div>
					<div class="logo-content2"></div>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="span1"></div>
			<div id="video" class="span10">
				<div id="video_top"></div>
				<div id="video_main" style="width:100%;">
					<div class="fluid-width-video-wrapper">
						<iframe id="video_clip" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//www.youtube.com/embed/9A2nhjijhPs?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=opaque&enablejsapi=1">
						</iframe>
					</div>
				</div>
				<div id="video_bot"></div>
			</div>
			<div class="span1" style="padding-top:30px;margin-bottom:40px;margin-left:30px;">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out HomeForGrandma! It's 90 seconds to find senior living!" data-via="homeforgrandma0" data-size="large" data-dnt="true">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
				<a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fhomeforgrandma.com&media=https%3A%2F%2Ffarm4.staticflickr.com%2F3720%2F13568102535_b13df5b923.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_28.png" /></a>
                <!-- Please call pinit.js only once per page -->
                <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
			</div>
			<div>

			</div>
		</div>
	</div>

<!-- 	<% flash.each do |type, message| %>
		<div class="alert <%= flash_class type %>">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
		</div>
	<% end %>
	<% if flash[:notice] %>

	<% end %> -->


	<%= yield %>
</div>


</body>
</html>
