<!DOCTYPE html>
<html>
<head>
  <title>Home For Grandma</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="navbar navbar-fixed-top global-nav">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Home For Grandma</a>
			<ul class="nav">
				<li><%= link_to "Home Page", home_path %></li> 
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
					<li><%= link_to "Sign Out", logout_path %></li>
				<% else %>
					<li><%= link_to "Sigh Up", register_path %></li>
					<li><%= link_to "Sign In", login_path %></li>				
				<% end %>
			</ul>
		</div>
	</div>
</div> -->

<div class="header">
	<div class="container">
		<div class="row">
			<div class="span5">
				<div id="logo-img"></div>
				<div>
					<h1 id="logo">HomeForGrandma</h1>
				</div>
			</div>
			<div class="span5 offset1">
				<div class="content-container">
					<div class="logo-content1"></div>
					<div class="logo-content2"></div>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="span1"></div>
			<div id="video" class="span10">
				<div id="video_top"></div>
				<div id="video_main" style="width:100%;">
					<div class="fluid-width-video-wrapper">
						<iframe id="video_clip" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//www.youtube.com/embed/9A2nhjijhPs?autoplay=0&autohide=1&fs=1&rel=0&hd=1&wmode=opaque&enablejsapi=1">
						</iframe>
					</div>
				</div>
				<div id="video_bot"></div>
			</div>
			<div class="span1" style="padding-top:30px;margin-bottom:40px;margin-left:30px;">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out HomeForGrandma! It's 90 seconds to find senior living!" data-via="homeforgrandma" data-size="large" data-dnt="true">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
				<a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fhomeforgrandma.com&media=https%3A%2F%2Ffarm4.staticflickr.com%2F3720%2F13568102535_b13df5b923.jpg&description=HomeForGrandma%3A%20Bringing%20new%20ideas%20to%20senior%20living" data-pin-do="buttonPin" data-pin-config="beside" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_28.png" /></a>
				<!-- Please call pinit.js only once per page -->
				<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
			</div>
			<div class="row">
			</div>
<!-- 			<div class="row">
				<div class="span8 offset2">
					<div class="should-we">Inform me when the website is live.</div>
					<div id="mc_signup">
						<form id="mc_signup_form" action="#mc_signup" method="post">
							<div class="mc_form_inside">
								<div id="mc_message" class="updated"> </div>
								<div class="mc_merge_var">
									<input type="text" class="mc_input" id="mc_mv_EMAIL" name="mc_mv_EMAIL" value="" size="18" placeholder="Email Address">
								</div>
								<div class="mc_signup_submit">
									<input id="mc_signup_submit" class="button" type="submit" value="Send Request!" name="mc_signup_submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div> -->
		</div>
	</div>

<!-- 	<% flash.each do |type, message| %>
		<div class="alert <%= flash_class type %>">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
		</div>
	<% end %>
	<% if flash[:notice] %>

	<% end %> -->


	
</div>

<div id="slider">
	<div id="slider_container" class="container">
		<div class="slides_container" style="overflow: hidden; position: relative; display: block;">
			<div class="slides_control" style="position: relative; width: 3600px; height: 120px; left: -1200px;">
				<div class="row" style="margin-top: 25px; position: absolute; top: 0px; left: 1200px; z-index: 0; opacity: 1;">
					<div class="span10 offset1">
						<div class="span3" style="margin-left:0px;"><h1>Contact Us</h1></div>
                        <div class="span6" style="margin-top:5px;">
                        	<span class="m700">info@homeforgrandma.com</span>
                            <br>
                            <p>(626)451-0023</p>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>
