<!DOCTYPE html>
<html>
<head>
  <title>Home For Grandma</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="navbar navbar-fixed-top global-nav">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Home For Grandma</a>
			<ul class="nav">
				<li><%= link_to "Home Page", home_path %></li> 
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
					<li><%= link_to "Sign Out", logout_path %></li>
				<% else %>
					<li><%= link_to "Sigh Up", register_path %></li>
					<li><%= link_to "Sign In", login_path %></li>				
				<% end %>
			</ul>
		</div>
	</div>
</div> -->

<div class="header">
	<div class="container">
		<div class="row">
			<div class="span2">
				<h1 id="logo">HomeForGrandma</h1>
			</div>
			<div class="span5 offset5">
				<div id="logo-img"></div>
				<div class="content-container">
					<div class="logo-content1"></div>
					<div class="logo-content2"></div>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="span1"></div>
			<div id="video" class="span10">
				<div id="video_top"></div>
				<div id="video_main" style="width:100%;">
					<div class="fluid-width-video-wrapper">
						<iframe id="video_clip" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//www.youtube.com/embed/9A2nhjijhPs?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=opaque&enablejsapi=1">
						</iframe>
					</div>
				</div>
				<div id="video_bot"></div>
			</div>
		</div>
	</div>

<!-- 	<% flash.each do |type, message| %>
		<div class="alert <%= flash_class type %>">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
		</div>
	<% end %>
	<% if flash[:notice] %>

	<% end %> -->


	<%= yield %>
</div>


</body>
</html>
